{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<head> 
<style>
body{
    background-image: url("/static/back.jpeg");
}
.div{
    margin-top:100px;
    margin-left : 520px;
    background-color:rgb(0,0,0,0.5);
    
}

   h5{
       color : black;
   }
   .button{
       padding : 10px ;
       margin-bottom : 20px;
       margin-left : 220px;
   }
</style>
</head>
<body>
<div class="col-lg-4 block-border  div">
            <form action="/send_mail_plain_with_file/" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label class="control-label">
                       <h5><b> Email : </b></h5>
                    </label>
                    <input type="text" name="email" class="form-control">
                </div>
                <div class="form-group">
                    <label class="control-label">
                      <h5><b>   Subject :</b></h5>
                    </label>
                    <input type="text" name="subject" class="form-control">
                </div>
                <div class="form-group">
                    <label class="control-label">
                      <h5><b>   Message :</b></h5>
                    </label>
                    <textarea name="message" class="form-control" rows="5"></textarea>
                </div>
                <div class="form-group">
                    <label class="control-label">
                     <h5><b>    File :</b></h5>
                    </label>
                    <input type="file" name="pdf" class="form-control">
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-success button">Send</button>
                </div>
            </form>
        </div>
</body>

{% endblock content %}